<div class="style-section">
    <div class="container">
        <div class="inner-style">
            <h3 class="style-text">BROWSE BY DRESS STYLE</h3>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Style Section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Style Section"
    }
  ]
}
{% endschema %}